.anketa {
    display: block;
    width: 448px;
    height: 342px;
}

.anketa__title {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.anketa__conteiner {
    display: block;
    position: relative;
    margin-bottom: 10px;

    &:focus-within .anketa__item,
    &:focus-within .anketa__icon,
    &:focus-within .anketa__coments {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
    }
}

.anketa__item {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.anketa__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
}

.anketa__conteiner--feedback {
    margin-bottom: 20px;
}

.anketa__coments {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    
    &::placeholder {
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

