.hero {
    max-width: 100%;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../../images/Img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(196, 196, 196, 1);
    color: var(--alt-color);
    text-align: center;

    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  & {
    background-image: url('../../images/Img@2x.jpg');
    }
    }

    @media screen and (min-width: 768pxpx){
        height: 400px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
   
     
}

.hero__title {
    margin: 0 auto; 
    max-width: 360px; 
    margin-bottom: 30px; 
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px){
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}