.licence {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.licence__icon::before {
    content: "";
    display: inline-block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;

    .licence:focus-within &{
        border-color: var(--accent-color);
    }
}

.licence__link {
    color: var(--accent-color);
}

.licence__checkbox:checked + .licence__icon::before {
    border: none;
    background-color: var(--accent-color);
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
}