.nav{
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;   
        }
}

.nav__list {
   display: none;

    @media screen and (min-width: 768px) {
    display: inline-flex;
    padding-left: 0;
    margin-top: 0;
    margin-right: 84px;
    margin-bottom: 0; 
    }

    @media screen and (min-width: 1200px){
    margin: 0;    
    } 
}

.nav__item:not(:last-child) {
    @media screen and (min-width: 768px){
    margin-right: 50px;
    }
}

.nav__link {
    @media screen and (min-width: 768px){
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

    &.current {
    color: var(--accent-color);
    }
    }
}

.current::after {
    @media screen and (min-width: 768px){
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    }
}
