.mobile-menu{
    position: fixed;
    top: 0;
    left:100%;
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    z-index: 2;

    &.is-open{
    left: 0;  
    }
}

.mobile-menu__list{
    padding-top: 48px;
    padding-left: 25px;
}

.mobile-menu__item{
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;

    &:not(:last-child){
        margin-bottom: 32px;
    }
    &:last-child{
        margin-bottom: 302px;
    }
}

.mobile-communication{
    margin-bottom: 64px;
    padding-left: 25px;
}

.mobile-communication__item{
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
    &:not(:last-child){
    margin-bottom: 32px;
    }
}

.mobile-communication__link{
text-decoration: none;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
}

.mobile-communication__link--size{  
font-size: 34px;
line-height: 1.17;
color: #2196F3;
}

.mobile-social{
    display: flex;
    width: 357px;
    height: 22px;
    margin: 0;
    padding-left: 25px;
    padding-bottom: 48px;
}

.mobile-social__item:not(:last-child){
        position: relative;
        margin-right: 20px;

    &::after{
        position: absolute;
        content: '';
        right: -10px;
        width: 0px;
        height: 22px;
        border: 1px solid rgba(33, 33, 33, 0.2);
     }   
}

.mobile-social__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}


.mobile-menu__link {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

    & .current {
    color: var(--accent-color);
    }
}


.mobile-menu__button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
    display: none;       
    }
}

.is-open .mobile-menu__icon-menu{
    display: none;
}

.mobile-menu__icon-close{
    display: none;

    .is-open &{
    display: block;
    }
}