.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--thirt-color);
    text-align: center;
}

.team__title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
