.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 94px;
    margin-top: 50px;
    margin-bottom: 0;
}

.portfolio__item {
    display: flex;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    & .portfolio__link:hover,
    & .portfolio__link:focus {
        box-shadow: 0px 3px 1px rgba(100, 8, 8, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__overlay {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.portfolio__icon {
    display: block;
    max-width: 100%;
}

.portfolio__text {
    position: absolute;
    margin: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    transition: transform 250ms;
    color: var(--alt-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
     transform: translate(-50%, -50%) translateY(0);
    }
}

.portfolio__discription {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.portfolio__title {
    padding: 20 px;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__position {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-color);
}