.services {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services__title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.services__list {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
}

.services__item:not(:last-child) {
    margin-right: 30px;
}

.services__thrumb {
    position: relative;
    width: 370px;
    height: 294px;
}

.services__describe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0px;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
}

.services__text {
    margin: 0;
    color: var(--alt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}