.social {
    display: inline-flex;
    padding-left: 0;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--alt-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}


.social__icon {
    max-width: 20px;
    max-height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px; 
    }

    .social__link:hover &,
    .social__link:focus & {
    fill: var(--alt-color);
}
}

