.specifics {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px){
        padding-top: 94px;
    }
}

.specifics__list {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 

    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: -15px;   
    }

    @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 0;
    }
}


.specifics__item {
    width: 450px;
    text-decoration: none;
    margin-bottom: 30px;

    &:not(:last-child){
        @media screen and (max-width: 767px) {
         margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px){
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
         width: 270px;
         margin: 0;
    }  
}

.specifics__feature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--thirt-color);
    border-radius: 4px;

    @media screen and(min-width: 768px){
    width: 354px; 
    }

    @media screen and (min-width:1200px) {
    width: 270px;
    } 
}

.specifics__icon {
    width: 70px;
    height: 70px;
}

.specifics__skills {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and(min-width: 768px){
       text-align: left;
    }
}

.specifics__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}